body {
    font-display: inherit;
}

#container{
    overflow-x: hidden;
    justify-content: center;
}

#image-preview{
    margin-top: 20px;
    margin-left: 20%; /* find another solution with flexbox */
    width: 60%;
    max-height: 60%;
    min-height: 60%;
    justify-content: center;
}

#image {
    display: flex; 
    max-width: 300px; 
    max-height: 300px; 
}

#upload, #download {
    margin-top: 20px;
    justify-content: center;
}

#btn-box {
    width: 60%;
}