body {
    font-display: inherit;
}

#container{
    justify-content: center;
}

#image-preview{
    margin-top: 20px;
    margin-left: 20%; /* find another solution with flexbox */
    width: 60%;
    max-height: 60%;
    min-height: 60%;
    justify-content: center;
}

#preview-text {
    display: inline;
}

#image {
    display: none; 
    max-width: 300px; 
    max-height: 300px; 
}

#upload, #download {
    margin-top: 20px;
    justify-content: center;
}

#btn-box {
    width: 60%;
}

#preview-filters{
    display: none;
    margin-top: 20px;
    justify-content: center;
}
#dropDownItems{
    width: 60%;
}
#dropdownMenuButton{
    width: 60%;
}